In [48]:
import scipy.stats as ss
import numpy as np
import pandas as pd

In [49]:
__author__ = "Kousuke Tsuchiya"
__studentID__ = "s1f101700158"

In [81]:
data = np.loadtxt("data/miles_per_gallon.csv")
data_us = data[:, 0]
data_jp = data[:, 1]
data_jp = data_jp[data_jp > -999]

''''
data_usa, data_jp
'''
data_us, data_jp

(array([18., 15., 18., 16., 17., 15., 14., 14., 14., 15., 15., 14., 15.,
        14., 22., 18., 21., 21., 10., 10., 11.,  9., 28., 25., 19., 16.,
        17., 19., 18., 14., 14., 14., 14., 12., 13., 13., 18., 22., 19.,
        18., 23., 26., 25., 20., 21., 13., 14., 15., 14., 17., 11., 13.,
        12., 13., 15., 13., 13., 14., 22., 28., 13., 14., 13., 14., 15.,
        12., 13., 13., 14., 13., 12., 13., 18., 16., 18., 18., 23., 11.,
        12., 13., 12., 18., 21., 19., 21., 15., 16., 15., 11., 20., 21.,
        19., 15., 26., 25., 16., 16., 18., 16., 13., 14., 14., 14., 28.,
        19., 18., 15., 15., 16., 15., 16., 14., 17., 16., 15., 18., 21.,
        20., 13., 23., 20., 23., 18., 19., 25., 26., 18., 16., 16., 15.,
        22., 22., 24., 23., 29., 25., 20., 18., 19., 18., 27., 13., 17.,
        13., 13., 13., 30., 26., 18., 17., 16., 15., 18., 21., 19., 19.,
        16., 16., 16., 16., 25., 26., 31., 34., 36., 20., 19., 20., 19.,
        21., 20., 25., 21., 19., 21., 21., 19., 18., 19., 18., 18., 18.,
        30., 31., 23., 24., 22., 20., 22., 20., 21., 17., 18., 17., 18.,
        17., 16., 19., 19., 36., 27., 23., 24., 34., 35., 28., 29., 27.,
        34., 32., 28., 26., 24., 19., 28., 24., 27., 27., 26., 24., 30.,
        39., 35., 34., 30., 22., 27., 20., 18., 28., 27., 34., 31., 29.,
        27., 24., 23., 38., 36., 25., 38., 26., 22., 36., 27., 27., 32.,
        28., 31.]),
 array([24., 27., 27., 25., 31., 35., 24., 19., 28., 23., 27., 20., 22.,
        18., 20., 31., 32., 31., 32., 24., 26., 29., 24., 24., 33., 33.,
        32., 28., 19., 32., 34., 26., 30., 22., 22., 33., 39., 36., 28.,
        27., 21., 24., 30., 34., 32., 38., 37., 30., 31., 37., 32., 47.,
        41., 45., 34., 33., 24., 32., 39., 35., 32., 37., 38., 34., 34.,
        32., 33., 32., 25., 24., 37., 31., 36., 36., 34., 38., 32., 38.,
        32.]))

In [90]:
n1 = len(data_us)
n1_mean = np.mean(data_us)
n1_std = np.std(data_us, ddof=1)


n2 = len(data_jp)
n2_mean = np.mean(data_jp)
n2_std = np.std(data_jp, ddof=1)


alpha = 0.05
df = ((n1_std**2/n1 + n2_std**2/n2)**2) / \
((n1_std**4/(n1**2*(n1-1))) + (n2_std**4/(n2**2*(n2-1))))

print("data_us: sise{}, mean:{:.3f}, std:{:.3f}".format(n1, n1_mean, n1_std))
print("data_jp: sise{}, mean:{:.3f}, std:{:.3f}".format(n2, n2_mean, n2_std))
print("Degree of freedom: {}".format(df))

data_us: sise249, mean:20.145, std:6.415
data_jp: sise79, mean:30.481, std:6.108
Degree of freedom: 136.87497667258336

In [91]:
nominator_spooled = n1_mean - n2_mean
print("Pooled std: {:.3f}".format(s_pooled))

Pooled std: 6.343

In [92]:
se_diff = np.sqrt((n1_std**2/n1) + (n2**2/n2))
print("Standard error of difference of mean : {:.3f}".format(se_diff))

Standard error of difference of mean : 8.897

In [93]:
t = (n1_mean - n2_mean) / se_diff
print("t statistic: {:.3f}".format(t))

t statistic: -1.162

In [94]:
t_ci = ss.t.ppf(alpha / 2, df)
print("t confidence interval : [{:.3f}, {:.3f}]".format(t_ci, -t_ci))

t confidence interval : [-1.977, 1.977]

In [95]:
if t_ci <= t <= -t_ci:
    print("Retain the null hypothesis by t-statistic.")
else:
    print("Reject the null hypothesis by t-statistic.")

Retain the null hypothesis by t-statistic.

In [96]:
p_value = (1 - ss.t.cdf(t, df))*2
print("p value: {}".format(p_value))

if p_value < alpha:
    print("Reject the null hypothesis by p value")
else:
    print("Retain the null hypothesis by p value")

p value: 1.75263112769313
Retain the null hypothesis by p value

In [97]:
t_ss, prob = ss.ttest_ind(data_us, data_jp, equal_var=False)
print("t value by scipy: {}".format(t_ss))
print("p value by scipy: {}".format(prob))

t value by scipy: -12.946273274932006
p value by scipy: 1.5708547842954538e-25